@page "/"

<h1>Welcome to our family and adult content site!</h1>

Suggestions and improvements forwarded to 280301@via.dk and 304694@via.dk



@code {
    
    
    protected override async Task OnInitializedAsync()
    {
        
    }

}